VITE_SUPABASE_URL=https://cujospvzkulzdgzxyfyp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1am9zcHZ6a3VsemRnenh5ZnlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2MjUyODMsImV4cCI6MjA5NjIwMTI4M30.uKytO-xbHVDWbHOaGmELVjPiEQIRi5q6q8CdHU7k4nU
